<footer class="jumbotron">
  <div class="container">
    <h3>Browse by Topic</h3>
    <ul>
    {% assign sorted_cats = site.categories | sort %}
    {% for category in sorted_cats %}
      <div class="col-md-6">
        <li><a href="{{ site.baseurl}}/{{ category[0] }}/">{{ category[0] | capitalize }}</a></li>
      </div>
    {% endfor %}
    </ul>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
  $('article img').addClass('img-responsive');
});
</script>