<div class="jumbotron" id="search-box">
  <div class="container">
    <h1>B1Hub - Support Center</h1>
    <form method="get" action="{{ site.baseurl }}/search" data-search-form>
    <div class="form-group" id="query-box">
      <div class="input-group">
        <input required autofocus data-search-input name="q" type="search" class="form-control" id="q" placeholder="What can we help you with? Search for a topic or question...">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
    </div>
    </form>
  </div>
</div>