body {
  padding-top: 50px;
}

.breadcrumb-container {
  margin-bottom: 50px;
}

.article-content {
  margin-top: 35px;
}

.article-content img {
  margin-bottom: 50px;
}

dd {
  margin-bottom: 20px;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 70px;
}

h1, .h1 {
  font-size: 3rem;
}

.jumbotron h1, .jumbotron .h1 {
  font-size: 5rem;
}

#results-div {
  display: none;
}

#search-box {
  border-bottom: 1px solid #f1f0f0;
}

#search-results {
  margin-top: 35px;
}

#query-box {
  padding-top: 20px;
}