<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="B1Hub">
    <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link href="{{ site.baseurl }}/assets/css/override.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if page.title %}
    <title>{{ page.title }} &middot; B.One &middot; FAQs and Support</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
  </head>

  <body>
  {% include nav.html %}
  {% include search-box.html %}

  <div class="container">
    {{ content }}
  </div>

  {% include footer.html %}
  </body>
</html>